<!DOCTYPE html>
<html>
    <head>
            <title>About Page</title>
            <link rel="icon" href="/img/myimg.png">
            <link rel="stylesheet" href="/css/style.css ">
    </head>
    <body>
            {{>header}}
            <p>This site is created by Chand Padaliya. It uses data from mapbox.com and darksky.net !</p>
            <img src="/img/mypic" class="portrait">
            {{>footer}}
    </body>
</html>